@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 200px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn-contacto{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-contacto:hover{
    background-color: #1e40af;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: relative;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.img-hab{
    width: 45px;
}

.leng{
    display: flex;
    gap: 0.5rem;
    margin-top: 20px;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.title-proy{
    color: #fff;
    text-align: center;
}

.proyectos{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
}

.proyectos .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.proyectos .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.card{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /**background-image: url(/imgCard/To\ do\ list.PNG);
    background-size: cover;*/
}

.descr{
    color: #c5c0c0;
}

.proycard{
    display: flex;
    justify-content: flex-start;
}

.img-card{
    width: 30px;
}

/**Estilos para formulario*/

form{
    width:500px;
    margin:auto;
    background:rgba(0,0,0,0.3);
    padding:10px 20px;
    box-sizing:border-box;
    margin-top:20px;
    border-radius:10px;
  }

  input{
    border-radius: 5px;
  }

  h2{
    color:#fff;
    text-align:center;
    margin:0;
    font-size:30px;
    margin-bottom:30px;
    
  }
  input , textarea{
    width:100%;
    margin-bottom:30px;
    padding:7px;
    box-sizing:border-box;
    font-size:17px;
    border:none;
    border-radius: 5px;
  }
  textarea{
    min-heigth:100px;
    max-height:200px;
    max-width:100%;
  }
  #boton{
    background:rgba(0,0,0,0.3);
    color:#fff;
    padding:20px;
  }
  #boton:hover{
    background: #1e40af;
    color:#fff;
    cursor:pointer;
  }

  .contac{
    padding: 150px;
  }
  /* Esto es lo mas importante para hacer que este formulario sea responsive por que : con estos se dan parametros para que si la condicion se cumple se realicen los cambios presentados en el parentesis es como en javascrip if(condiciones que estan aqui se ejecute el codigo que esta adentro){codigo};*/
  @media (max-width:480px){
    form{
      width:100%;
    }
  }

  /*Footer*/ 

  .footer{
    background-color: #323232;
    color: #ccc;
    padding: 20px 0;
    text-align: center;
    border-radius: 15px;
  }

  .footer span{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .footer i{
    padding-top: 15px;
  }